@media only screen and (min-width: 64rem) {	
    body {
        margin-right: 5rem;
        margin-left: 5rem;
    }
	.headings{
		align-self: center;
	}

	.top1{
		display: flex;
	}
	picture.logo1 img{
		width: 100px;
		padding: 5px;
	}
	.top2{
		display: none;
	}
}