@media only screen and (min-width: 64rem) {	
	/*navigation large*/
    nav button{
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
        font-size: 1.25rem;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(42, 157, 143,0.3);
        padding: .8rem 1rem;
    }

	/*header body and logos large*/
	body {
        margin-right: 5rem;
        margin-left: 5rem;
    }
	.headings{
		align-self: center;
	}
	.top1{
		display: flex;
	}
	picture.logo1 img{
		width: 100px;
		padding: 5px;
	}
	.top2{
		display: none;
	}

	/*hero image and explanation large*/
	#hero {
		width:100%;
		height:auto;
	}
	.title{
		color: #ADE250;
		position: absolute;
		top: 5em;
		left: .15em;
		background-color:rgba(244, 162, 97, 0.5);
		border-radius: 3px;
	}
	.title h3{
		font-size: 4rem;
	}
	.title p{
		font-size: 1.5rem;
	}

	/*entry 2 css large*/
	.entry2 .info h2{
		font-size: 2rem;
	}
	.entry2 .info p{
		font-size: 1rem;
	}
	.grid1{
		grid-template-columns: auto auto;
	}

	.container h3{
		margin-bottom: 10px;
		font-size: 2rem;
	}
	.container p{
		font-size: 1.5rem;
	}

	/* dropdown menus */	
	.dropdown-content {
		width: 50%;
	}
}