@media only screen and (min-width: 64rem) {	
    body {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    main h1 {
        text-align: left;
        margin-left: 1em;
    }

	.top1{
		display: flex;
	}
	picture.logo1 img{
		width: 50px;
		padding: 10px;
	}
	.top2{
		display: none;
	}
}