	
	/*header body and logos small*/
	body {
		background-color: #2A9D8F;
		padding: 0;
		margin: 0;
	}
	header {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		background-color: white;
	}
	header img {
		width: 100px;
		height: auto;
	}
	.top1{
		display: none;
	}

	/*main class tag small*/
	.place{
		display: flex;
		flex-direction: column;
	}

	/*hero image and explanation small*/
	.place > .herodiv {
		padding: .5em;
		position: relative;
	}
	#hero {
		width:100%;
		height:auto;
	}
	.title{
		color: #ADE250;
		position: absolute;
		top: 1em;
		left: .15em;
		background-color:rgba(244, 162, 97, 0.5);
		padding: 10px;
		border-radius: 3px;
	}
	.title h3{
		font-size: 2rem;
		text-align: center;
		color: white;
		font-family: 'Chakra Petch', sans-serif;
		font-size: 1rem;
	}
	.title p{
		font-size: 1rem;
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
		font-size: 0.80rem;
	}

/*entry 2 css small - home page*/
	.place > .entry2 {
		border-radius: 5px;
		padding: .5em;
	}
	.entry2 .info h2{
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.entry2 .info p{
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}
	.grid1{
		display: grid;
		grid-gap: 10px;
	}
	.grid1 a:link, .grid1 a:visited{
		text-decoration: none;
	}
	.grid1 a:hover{
		color: #2A9D8F;
		text-decoration: underline;
	}
	.card {
		text-align: center;
		width: 100%;
		height: auto;
		background-color:rgba(244, 162, 97);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	#renew{
		width:100%;
		height:auto;
	}
	#nonrenew{
		width:100%;
		height:auto;
	}
	.container {
		padding: 2px 16px;
	}
	.container h3{
		font-size: 1rem;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.container p{
		font-size: .75rem;
		margin: 0;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}

	/*entry 3 css small - home page*/
	.place > .entry3 {
		padding: 1em;
	}
	.entry3 .info h2{
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.entry3 .info p{
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}
	.grid2{
		display: grid;
		grid-gap: 10px;
	}
	.grid2 a:link, .grid1 a:visited{
		text-decoration: none;
	}
	.grid2 a:hover{
		color: #2A9D8F;
		text-decoration: underline;
	}
	.contain {
		text-align: center;
		width: 100%;
		height: auto;
		background-color:rgba(244, 162, 97);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	#good{
		width:100%;
		height:auto;
	}
	#neutral{
		width:100%;
		height:auto;
	}
	#hostile{
		width:100%;
		height:auto;
	}
	.holder {
		padding: 2px 16px;
	}
	.holder h3{
		font-size: 1rem;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.holder p{
		font-size: .75rem;
		margin: 0;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}

	/*entry 4 css small - home page*/
	.place > .entry4 {
		padding: 1em;
	}
	.entry4 .info h2{
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.entry4 .info p{
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}
	.grid3{
		display: grid;
		grid-gap: 10px;
	}
	.grid3 a:link, .grid1 a:visited{
		text-decoration: none;
	}
	.grid3 a:hover{
		color: #2A9D8F;
		text-decoration: underline;
	}
	.organize {
		text-align: center;
		width: 100%;
		height: auto;
		background-color:rgba(244, 162, 97);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	#create{
		width:100%;
		height:auto;
	}
	#survive{
		width:100%;
		height:auto;
	}
	.placement {
		padding: 2px 16px;
	}
	.placement h3{
		font-size: 1rem;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.placement p{
		font-size: .75rem;
		margin: 0;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}

	/*entry 5 css small - home page*/
	.place > .entry5 {
		padding: .5em;
	}
	.entry5 .info h2{
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.entry5 .info p{
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}
	.entry5 .info p a:link, .entry5 .info p a:visited{
		color: #E9C46A;
		text-decoration: none;
	}
	.entry5 .info p a:hover{
		color: white;
		text-decoration: underline;
	}
	.manage {
		text-align: center;
		width: 100%;
		height: auto;
		background-color:rgba(244, 162, 97);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	iframe{
		border: 0px;
		padding: 10px;
		width: 100%; 
		height: 320px;
	}

	/*entry 6 css small - renewable materials*/
	.place > .entry6 {
		padding: .5em;
	}
	.entry6 .info h2{
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.entry6 .info p{
		text-align: center;
		color: #264253;
		font-family: 'Avro', serif;
		font-weight: bold;
	}
	.entry6 .index ul li {
		font-size: 1rem;
		font-family: "Chakra Petch", sans-serif;
		font-weight: bold;
		list-style-type: none;
	}
	.entry6 .index ul li a:link, .entry6 .index ul li a:visited{
		color: #E9C46A;
		text-decoration: none;
	}
	.entry6 .index ul li a:hover{
		background-color: transparent;
		color: white;
		text-decoration: underline;
	}

	/*entry 7 css small - renewable materials*/
	.place > .entry7 {
		padding: 1em;
	}
	.entry7 .sectioning{
		padding: .5rem;
		border-radius: 10px;
		background-color: #264253;
	}
	.section-title{
		text-align: center;
		color: white;
		font-family: 'Chakra Petch', sans-serif;
	}
	.cards{
		justify-content: center;
		display: grid;
		grid-gap: 10px;
		
	}
	.cards section{
		text-align: center;
		width: 100%;
		height: auto;
		background-color:rgba(244, 162, 97);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.cards section img{
		margin: 0;
		padding: 10px;
		width: 75%;
		height: auto;
	}
	.cards section h2{
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.cards section h3{
		text-decoration: underline;
		margin: 0;
		margin-top: 20px;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		color: white;
	}
	.cards section p{
		margin: 0;
		margin-bottom: 10px;
		font-family: 'Avro', serif;
		font-weight: bold;
		color: #264253;
	}
	

	/*footer css small*/
	footer {
		font-family: 'Chakra Petch', sans-serif;
		font-weight: bold;
		background-color: #E9C46A;
		color: #264253;
		padding: 10px;
		text-align: center;
	}
	footer a:link, footer a:visited{
		text-decoration: none;
		color: #2A9D8F;
	}
	footer a:hover{
		color: white;
		text-decoration: underline;
	}

	/*navigation small*/
	html {
		-webkit-text-size-adjust: 100%; 
		-ms-text-size-adjust: 100%;
	}
	* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
	}

	nav button{
		margin: .2rem 2%;
		background-color: transparent;
		font-size: 1.75rem;
		color: #264253;
		font-weight: bold;
		font-family: 'Chakra Petch', sans-serif;
	}
	nav{
		text-align: center;
		background-color: #E9C46A;
	}

	nav ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	nav ul li{
		font-family: 'Chakra Petch', sans-serif;
		font-weight: bold;
		font-size: 1.5rem;
	}
	nav ul li a{
		display: block;
		padding: .8rem 2%;
		text-decoration: none;
		color: #264253;
	}

	nav ul li a:hover{
		background-color: white;
		color: #264253;
	}
	nav ul li.active a:link{
		background-color: #F4A261;
	}

	nav ul.hide{
		display: none;
	}

	.clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
		
	/* dropdown menus small*/	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: .8rem 2%;
	}
	li a:hover, .dropdown:hover .dropbtn {
		width: 100%;
		background-color: white;
		text-decoration: underline;
	}
	li.dropdown {
		display: block;
	}
	.dropdown-content {
		font-size: 1.25rem;
		width: 100%;
		display: none;
		position: absolute;
		background-color: #F4A261;
		min-width: 25%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown-content a {
		color: #264253;
		padding: .8rem 2%;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	.dropdown-content a:hover {
		color: white;
		background-color: #2A9D8F;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}


