@media only screen and (max-width: 980px){
	/*@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Titillium+Web:wght@300&display=swap');*/

	header {
		background-color: purple;
		text-align: center;
	}
	
	h1 {
		grid-column: 1 / 2;
		font-size: 2rem;
		font-family: 'Bree Serif', serif;
	}
	
	h2 {
		font-size: 1.5rem;
		color:white;
		margin: auto;
		font-family: 'Bree Serif', serif;
		border-bottom: 5px double;
	}
	
	p {
		font-family: 'Titillium Web', sans-serif;
	}
	
	nav{
		font-family: 'Titillium Web', sans-serif;
		font-size: 1rem;
		padding: 2em;
	}
	
	#content {
		max-width: 960px;
		margin: 0 auto;
		color: white;
		background-color: maroon;
		border-radius: 10px;
	}
	
	.home-headline {
		padding: 1em 1em 1em 1em;
	}
	
	.home-paragraph {
		padding: 1em 1em 1em 1em;
	}
	
	footer {
		background-color: purple;
		text-align: center;
		padding: 1em 1em 1em 1em;
	}
	
	nav a:link, nav a:visited{
		color: white;
	}
	nav a:hover{
		color: yellow;
	}
	
	content a:link, content a:visited{
		color: white;
	}
	content a:hover{
		color:yellow;
	}
}